<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>我的话题列表</title>
    <link rel="stylesheet" href="css/app.css">
</head>
<body class="column" ng-app="myApp" ng-controller="lasthref" ng-controller="mythemelist">
<div class="pa left top w hwh indexbg"></div>

    <div class="topic mt5" >
        <div class="header">
            <a class="back fl" ng-href="index.html#{{lh}}"></a>
            <h1 class="yellow fr fz08 lh120" ng-controller="weixin">
                <!--头像-->
                {{count}}
                <div class="imgDiv br100 fl oh">
                    <img ng-src="{{data.HeadImgUrl}}"/>
                </div>
                <!--姓名-->
                <div class="fz08 ml3 fl" ng-bind="data.NickName"></div>
            </h1>
        </div>
    </div>

    <ul class="contents pa left" >

        <li class="content pr" ng-repeat="x in mylist" >
            <a class="tdn" ng-href="mecontent.html#iid={{x.Theme.Id}}&{{lh}}" ng-click="updateUnread(x.Theme.Id,x.Unread.UnreadCount)">
            <!--提示几条回复-->
            <div class="pa tips fz06 white" ng-if="x.Unread.UnreadCount"><span ng-bind="x.Unread.UnreadCount"></span>条回复</div>
            <!--标题 缩略图 等-->
                <h2 class="fz063 bule" ><span class="oh" ng-bind="x.Theme.Title"></span><span ng-if="x.Theme.Title.length>20">...</span></h2>
            <div class="imgDiv oh mt3"><img ng-src="{{x.Theme.Thumbnail}}"/></div>
            <div class="cb bule info fr fz06 mt3">
                <div class="fl">
                    <img src="img/icon1.png">
                    阅读 (<span ng-bind="x.Theme.TotalReadTimes"></span>)
                </div>
                <div class="fr">
                    <img src="img/icon2.png">
                    评论 (<span ng-bind="x.Theme.TotalCommentCount"></span>)
                </div>
            </div>
            </a>
        </li>

        <div class="mt10 cb"></div>
    </ul>




<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="js/jweixin.js"></script>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="js/heng.js"></script>
<script src="js/app3.js"></script>

</body>
</html>
